<div class="container">
  <div class="row">
    <div class="col l3 s12">
      <div class="brand-logo">
        <img src="images/logo.png">
        <h5 class="valign"><b class="main-text">Weather</b> Forcast</h5>
      </div>
      <p>An Angularjs powered material design Weather Forecast Web Application</p>
    </div>

    <div class="col l4 offset-l2 s12">
      <h5>Source Code and Documentation</h5>
      <p>Full source code of the app is available in my gitlab account. <a href="https://gitlab.com/bmnepali/Angular-WeatherWebApp">Buddha Man Nepali (Gitlab)</a> :)</p>
    </div>

    <div class="col l2 offset-l1 s12 footer-links">
      <h5>Useful Resources</h5>
      <ul>
        <li><a href="https://angularjs.org/">Angularjs</a></li>
        <li><a href="https://materializecss.com">Materialize</a></li>
        <li><a href="http://gulpjs.com">Gulpjs</a></li>
        <li><a href="#">Karma, Jasmine</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container center">
    © 2016 Weather Forecast, All rights reserved.
  </div>
</div>
