<div class="main-content" id="cloudy-backgound" ng-init="geolocation_available()">
  <div class="row" id="search-bar">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <img src="images/logo1.png" alt="" class=" logo align-center">
      <nav class="z-depth-2">
        <div class="nav-wrapper">
          <form ng-submit="searchForecast()">
            <div class="input-field">
              <input placeholder="City Name or Zip Code" ng-model="search_query" name="search_query" is="search_query" type="search">
              <label for="search"><i class="mdi mdi-map-marker-radius"></i></label>
              <i ng-click="clearForm()" class="material-icons mdi mdi-window-close"></i>
            </div>
          </form>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col s12">
        <div class="col l8 offset-l2 m offset-m2 s12">
          <div class="new-pannel  panel-bordered panel-about panel-bar-chart z-depth-1">
            <div class="panel-body">
              <span class="align-center location-bold" ng-cloak ng-show="weather_data.today.dt">{{weather_data.today.dt + '000' | date: 'EEEE, MMMM d, y'}}</span>
              <div ng-bind-html="weather_data.today.link | trust"></div>
              <div class="location">
                <p class="location-bold" ng-cloak ng-show="weather_data.today.temp.day">
                  <i class="xsmall material-icons mdi mdi-brightness-5"></i>{{convertTemperature(weather_data.today.temp.day) }}<sup>o</sup>C &nbsp;&nbsp;
                  <i class="xsmall material-icons mdi mdi-brightness-4"></i>{{convertTemperature(weather_data.today.temp.eve) }}<sup>o</sup>C</br>
                  {{weather_data.city.name}}, {{weather_data.city.country || "Nepal"}}
                </p>
                <p class="location-light" ng-cloak ng-show="weather_data.today.weather[0].description">
                  <strong>{{weather_data.today.weather[0].description|| "Weather Description" | ucf}}</strong></br>
                  Longitude:{{ weather_data.city.coord.lon}} &nbsp;&nbsp; Latitude:{{ weather_data.city.coord.lat}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="crazy-transaction" ng-show="weather_data.city.name">
    <div class="col l10 offset-l1 m12 s12 panel panel-stats blue-grey lighten-1 white-text  z-depth-2">
      <div class="col s12 m6 l2 valign center-align">
        <div class="footer-icons"><i class="mdi mdi-weather-cloudy"></i></div>
        <div class="value">Clouds</div>
        <div class="description" ng-show="weather_data.today.clouds" ng-cloak>{{weather_data.today.clouds}}</div>
      </div>
      <div class="col s12 m6 l2 valign center-align">
        <div class="footer-icons"><i class="mdi mdi-weather-pouring"></i></div>
        <div class="value">Rain</div>
        <div class="description" ng-show="weather_data.today.speed" ng-cloak>{{weather_data.today.speed}} mm</div>
      </div>
      <div class="col s12 m6 l2 valign center-align">
        <div class="footer-icons"><i class="mdi mdi-weather-windy"></i></div>
        <div class="value">Windy</div>
        <div class="description" ng-show="weather_data.today.speed" ng-cloak>Calm {{weather_data.today.speed}} m/s</div>
      </div>
      <div class="col s12 m6 l2 valign center-align">
        <div class="footer-icons"><i class="mdi mdi-gamepad"></i></div>
        <div class="value">Pressure</div>
        <div class="description" ng-show="weather_data.today.pressure" ng-cloak>{{weather_data.today.pressure}} hpa</div>
      </div>
      <div class="col s12 m6 l2 valign center-align">
        <div class="footer-icons"><i class="mdi mdi-weather-hail"></i></div>
        <div class="value">Humidity</div>
        <div class="description" ng-show="weather_data.today.humidity" ng-cloak>{{weather_data.today.humidity}} %</div>
      </div>
      <div class="col s12 m6 l2 valign center-align">
        <div class="footer-icons"><i class="mdi mdi-weather-sunny"></i></div>
        <div class="value">Max Temp</div>
        <div class="description" ng-show="weather_data.today.temp.max" ng-cloak>{{convertTemperature(weather_data.today.temp.max) }}<sup>o</sup>C </div>
      </div>
    </div>
  </div>
  <div class="row" id="crazy-transaction" ng-show="weather_data.city.name">
    <div class="col l10 offset-l1 m12 s12 panel panel-stats blue-grey lighten-1 white-text  z-depth-2">
      <div class="col s6 m6 l2 valign center-align" ng-repeat="data in weather_data.remaining">
        <div class="value">{{data.dt + '000' | date: 'EEEE' | ucf}}</div>
        <div class="footer-icons">
          <object type="image/svg+xml" data="images/icons/{{data.weather[0].icon}}.svg" height="35"></object>
        </div>
        <div class="value location-medium">{{data.weather[0].description | ucf}}</div>
        <div class="value"><i class="xsmall mdi mdi-weather-hail"></i>&nbsp;{{data.humidity}} %</div>
        <div class="value"><i class="xsmall mdi mdi-gamepad"></i>&nbsp;{{data.pressure}} hpa</div>
        <div class="value"><i class="xsmall mdi mdi-weather-sunny"></i>&nbsp;{{convertTemperature(data.deg)}}<sup>o</sup>C</div>
      </div>
    </div>
  </div>
</div>
